.container{
    border: 2px solid black;
    border-radius: 5px;

}

.panel{

}

.center{
    text-align: center;
    margin: auto;
    color: burlywood;

}


.input-form {
    border: 5px solid blue;
    width: 600px;
    height: 300px;
    margin: auto;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
}

