{%extends "base.html"%}


{%block title%}Dashboard-Admin{%endblock%}


{%block content%}


<div class="navbar">
    <a class="nav-btn" href="{{ url_for('admin_dashboard') }}">Dashboard</a>
    <a class="nav-btn" href="{{ url_for('admin_dashboard', section='treks') }}">Manage Treks</a>
    <a class="nav-btn" href="{{ url_for('admin_dashboard', section='staff') }}">Manage Staff</a>
    <a class="nav-btn" href="{{ url_for('admin_dashboard', section='users') }}">Manage Users</a>
    <a class="nav-btn" href="{{ url_for('admin_dashboard', section='bookings') }}">Bookings</a>
    <a class="logout" href="{{ url_for('logout') }}">Logout</a>
</div>







<!-- DASHBOARD -->
{% if section == 'dashboard' %}


<h1 style="display: block; text-align: center; font-family: sans-serif;">Welcome Admin!</h1>
<h2 style="font-family: sans-serif;">Dashboard</h2>
<div class="dashboard-cards">
    <div class="card">
        <h3>Total Users</h3>
        <p>{{ total_users }}</p>
    </div>

    <div class="card">
        <h3>Staffs</h3>
        <p>{{ total_staff }}</p>
    </div>

    <div class="card">
        <h3>Total Treks</h3>
        <p>{{ total_treks }}</p>
    </div>

    <div class="card">
        <h3>Total Bookings</h3>
        <p>{{ total_bookings }}</p>
    </div>
</div>



<!-- MANAGE TREKS -->
{% elif section == 'treks' %}

<div class="search-bar-container">
        <form method="GET" action="{{ url_for('admin_dashboard') }}">
            <input type="hidden" name="section" value="treks">
            
            <input type="text" name="search" placeholder="Search Treks" value="{{ search_query or '' }}">
            <button type="submit" class="button btn-update"><b>Search</b></button>
            
            {% if search_query %}
                <button><a href="{{ url_for('admin_dashboard', section='treks') }}" class="button btn-clear"><b>Clear Filter</b></a></button>
            {% endif %}
        </form>
    </div>



<div class="open-container">
    <h2 style="font-family: sans-serif;">Existing Treks</h2>
    <table style="width: 99%;">
        <tr class="trek-header">
            <th>Name</th>
            <th>Location</th>
            <th>Total Users</th>
            <th>Total Slots</th>
            <th>Available Slots</th>
            <th>Assigned Staff</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        {% for t in data %}
        <tr class="trek-row">

            <td>{{ t.name }}</td>
            <td>{{ t.location }}</td>
            <td>
                {{ t.bookings| selectattr('booking_status','equalto','approved')|list| length}}
            </td>
            <td>{{ t.slots }}</td>
            <td>
                {{ t.slots - (t.bookings | selectattr('booking_status','equalto','approved') | list | length) }}
            </td>
            <td>
                {% if t.staff %}
                {{ t.staff.username }} ({{ t.staff.email }})
                {%else%}
                Not Assigned
                {% endif %}
            </td>
            <td>
                {% if t.status=='Open' %}Open
                {% elif t.status=='Closed' %}Closed
                {% elif t.status=='Ongoing' %}Ongoing
                {% elif t.status=='Completed' %}Completed
                {%endif%}
            </td>
            <td>
                <a href="{{ url_for('edit_trek', trek_id=t.trek_id) }}">
                    <button class="button btn-edit">&nbsp;<b>Edit</b>&nbsp;</button>
                </a>
                <form method="POST" action="{{ url_for('delete_trek', id=t.trek_id) }}"
                    onsubmit="return confirm('Are you sure you want to delete this trek?');">
                    <button type="submit" class="button btn-danger">
                        <b>Delete</b>
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>





<div class="open-container">
    <h2 style="font-family: sans-serif;">Add New Trek</h2>
    <table style="width: 100%;">
        <form method="POST" action="/add_trek">
            <tr class="input-form trek-header-7" style="width: 97%;">
                <td>
                    <label for="name">Trek Name</label>
                    <input required name="name" placeholder="Name">
                </td>
                <td><label>Location:</label>
                    <input type="text" name="location" required placeholder="Enter location">
                </td>
                <td>
                    <span>Difficulty</span>
                    <select name="difficulty" id="difficulty">
                        <option value="easy">Easy</option>
                        <option value="medium">Medium</option>
                        <option value="hard">Hard</option>
                        <option value="extreme">Extreme</option>
                    </select>
                </td>
                <td>
                    <label for="duration">Duration (days)</label>
                    <select name="duration" id="duration">
                        {%for i in range(1,31)%}
                        <option value="{{i}}">{{i}}</option>
                        {%endfor%}
                    </select>
                </td>
                <td><label for="slots">Slots</label>
                    <select name="slots" id="slots">
                        {%for i in range(1,31)%}
                        <option value="{{i}}">{{i}}</option>
                        {%endfor%}
                    </select>
                </td>
                <td>
                    <label>Select Staff</label>
                    <select name="staff_id">
                        <option value="">--Select Staff--</option>
                        {% for s in approved_staff %}
                        <option value="{{ s.user_id }}">
                            {{ s.username }}
                        </option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <button class="button btn-update" type="submit"><b>Add Trek</b></button>
                </td>
            </tr>
        </form>
    </table>
</div>






<!--  MANAGE STAFF  -->
{%elif section == 'staff'%}

<div class="search-bar-container">
    <form method="GET" action="{{ url_for('admin_dashboard') }}">
        <input type="hidden" name="section" value="staff">
        <input type="text" name="search" placeholder="Search Staff" value="{{ search_query or '' }}">
        <button type="submit" class="button btn-update"><b>Search</b></button>
        {% if search_query %}
            <button><a href="{{ url_for('admin_dashboard', section='staff') }}" class="button btn-clear"><b>Clear Filter</b></a></button>
        {% endif %}
    </form>
</div>
<div class="open-container">
    <h2 style="font-family: sans-serif;">Existing Staff</h2>
    <table style="width: 97%;">
        <tr class="trek-header-3">
            <th>Username</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
        {%for s in approved_staff%}
        <tr class="trek-row-3">
            <td>{{s.username}}</td>
            <td>{{s.email}}</td>
            <td>
                <button class="button btn-update"><a href="/remove_staff/{{s.user_id}}"><b>Remove Staff</b></a></button>
                <button class="button btn-danger"><a href="/blacklist/{{ s.user_id }}"><b>Block</b></a></button>
            </td>
        </tr>
        {%endfor%}
    </table>
</div>



<div class="open-container">
    <h2 style="font-family: sans-serif;">Staff Requests</h2>
    <table style="width: 97%;">
        <tr class="trek-header-3">
            <th>Username</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
        {%for s in not_approved_staff%}
        <tr class="trek-row-3">
            <td>{{s.username}}</td>
            <td>{{s.email}}</td>
            <td>
                <button class="button btn-approve"><a href="/approve_staff/{{s.user_id}}"><b>Approve</b></a></button>
                <button class="button btn-danger"><a href="/blacklist/{{ s.user_id }}"><b>Block</b></a></button>
            </td>
        </tr>
        {%endfor%}
    </table>
</div>




<div class="open-container">
    <h2 style="font-family: sans-serif;">Blacklisted Staff</h2>
    <table style="width: 97%;">
        <tr class="trek-header-3">
            <th>Username</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
        {%for s in blacklisted_staff%}
        <tr class="trek-row-3">
            <td>{{s.username}}</td>
            <td>{{s.email}}</td>
            <td>
                <button class="button btn-approve"><a href="/remove_staff_blacklist/{{s.user_id}}"><b>Unblock</b></a></button>
            </td>
        </tr>
        {%endfor%}
    </table>
</div>





{%elif section=='users'%}

<div class="search-bar-container">
    <form method="GET" action="{{ url_for('admin_dashboard') }}">
        <input type="hidden" name="section" value="users">
        <input type="text" name="search" placeholder="Search Users" value="{{ search_query or '' }}">
        <button type="submit" class="button btn-update"><b>Search</b></button>
        {% if search_query %}
            <button><a href="{{ url_for('admin_dashboard', section='users') }}" class="button btn-clear"><b>Clear Filter</b></a></button>
        {% endif %}
    </form>
</div>

<div class="open-container">
    <h2 style="font-family: sans-serif;">All Users</h2>
    <table style="width: 97%;">
        <tr class="trek-header-3">
            <th>Username</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
        {%for u in data%}
        <tr class="trek-row-3">
            <td>{{u.username}}</td>
            <td>{{u.email}}</td>
            <td><button class="button btn-danger"><a href="/blacklist/{{u.user_id}}"><b>Block</b></a></button></td>
        </tr>
        {%endfor%}
    </table>
</div>


<div class="open-container">
    <h2 style="font-family: sans-serif;">Blacklisted Users</h2>
    <table style="width: 97%;">
        <tr class="trek-header-3">
            <th>Username</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
        {%for u in blacklisted_users%}
        <tr class="trek-row-3">
            <td>{{u.username}}</td>
            <td>{{u.email}}</td>
            <td><button class="button btn-approve"><a href="/remove_user_blacklist/{{u.user_id}}"><b>Unblock</b></a></button>
            </td>
        </tr>
        {%endfor%}
    </table>
</div>








{% elif section == 'bookings' %}

<div>
    <h2 style="font-family: sans-serif;">Bookings</h2>
    {% for t in data %}
    <div class="open-container">

        <h3>{{ t.name |upper}} : ({{ t.location |capitalize}}) | </h3>

        <table style="width: 97%;">
            <tr class="trek-header-5">
                <th>User</th>
                <th>Email</th>
                <th>Status</th>
                <th>Date</th>
                <th>Action</th>
            </tr>

            {% for b in t.bookings|sort(attribute='booking_id', reverse=True) %}
            <tr class="trek-row-5">

                <td>{{ b.user.username }}</td>
                <td>{{ b.user.email }}</td>
                <td>{{ b.booking_status }}</td>
                <td>{{ b.booking_date }}</td>

                <td>
                    {% if b.booking_status == 'pending' %}
                    <form method="post" action="{{ url_for('update_booking_status', id=b.booking_id) }}">
                        <button class="button btn-approve" name="status" value="approved"><b>Approve</b></button>
                        <button class="button btn-danger" name="status" value="cancelled"><b>Decline</b></button>
                    </form>
                    {% else %}
                    -
                    {% endif %}
                </td>

            </tr>
            {% else %}
            <tr>
                <td colspan="5">No bookings</td>
            </tr>
            {% endfor %}

        </table>

    </div>
    {% endfor %}














    {% endif %}











    {%endblock%}