{%extends "base.html"%}


{%block title%}Dashboard-Admin{%endblock%}


{%block content%}


<div class="row-align">
    <a href="{{ url_for('admin_dashboard') }}">Dashboard</a>
    <a href="{{ url_for('admin_dashboard', section='treks') }}">Manage Treks</a>
    <a href="{{ url_for('admin_dashboard', section='staff') }}">Manage Staff</a>
    <a href="{{ url_for('admin_dashboard', section='users') }}">Manage Users</a>
    <a href="{{ url_for('admin_dashboard', section='bookings') }}">Bookings</a>
    <a href="{{ url_for('logout') }}">Logout</a>
</div>


<h1 style="display: block; text-align: center;">Welcome Admin!</h1>



<div class="container">
    <!-- DASHBOARD -->
    {% if section == 'dashboard' %}
    <h2>Dashboard</h2>
    <table>
        <tr class="trek-row">
            <td>Users: {{ total_users }}</td>
        </tr>
        <tr class="trek-row">
            <td>Staff: {{ total_staff }}</td>
        </tr>
        <tr class="trek-row">
            <td>Treks: {{ total_treks }}</td>
        </tr>
        <tr class="trek-row">
            <td>Bookings: {{ total_bookings }}</td>
        </tr>
    </table>




    <!-- MANAGE TREKS -->
    {% elif section == 'treks' %}

    <h1 style="display: block; text-align: center;">Treks</h1>

    <h3>Existing Treks</h3>
    <div class="container">
        <table>
            <tr class="trek-header">
                <th>Trek Name</th>
                <th>Difficulty</th>
                <th>Duration</th>
                <th>Available Slots</th>
                <th>Assigned Staff</th>
                <th>Status</th>
            </tr>
            {%for t in data%}
            <tr class="trek-row">
                <td>{{t.name}}</td>
                <td>{{t.difficulty}}</td>
                <td>{{t.duration}}</td>
                <td>{{t.slots}}</td>
                <td>{{t.assigned_staff}}</td>
                <td>{{t.status}}</td>
            </tr>
            {%endfor%}


        </table>
    </div>



    <h3>Add Trek</h3>
    <div class="container">
        <table>
            <form method="POST" action="/add_trek">
                <tr class="row-align">
                    <td>
                        <label for="name">Trek Name</label>
                        <input name="name" placeholder="Name">
                    </td>
                    <td>
                        <span>Difficulty</span>
                        <select name="difficulty" id="difficulty">
                            <option value="easy">Easy</option>
                            <option value="medium">Medium</option>
                            <option value="hard">Hard</option>
                            <option value="extreme">Extreme</option>
                        </select>
                    </td>
                    <td>
                        <label for="duration">Duration (days)</label>
                        <select name="duration" id="duration">
                            {%for i in range(1,16)%}
                            <option value="{{i}}">{{i}}</option>
                            {%endfor%}
                        </select>
                    </td>
                    <td><label for="slots">Slots</label>
                        <select name="slots" id="slots">
                            {%for i in range(1,21)%}
                            <option value="{{i}}">{{i}}</option>
                            {%endfor%}
                        </select>
                    </td>
                    <td>
                        <label>Select Staff</label>
                        <select name="staff_id">
                            {% for s in approved_staff %}
                            <option value="{{ s.user_id }}">
                                {{ s.username }}
                            </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <input type="submit" value="Add">
                    </td>
                </tr>
            </form>
        </table>
    </div>



    <!--  MANAGE STAFF  -->
    {%elif section == 'staff'%}
    <h1>Manage Staff</h1>

    <h2>Existing Staff</h2>

    <div class="container">
        <table>
            <tr class="trek-header">
                <th>Username</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
            {%for s in approved_staff%}
            <tr class="trek-row">
                <td>{{s.username}}</td>
                <td>{{s.email}}</td>
                <td>
                    <a href="/blacklist/{{ s.user_id }}">Blacklist</a>
                    <a href="/remove_staff/{{s.user_id}}">Remove Staff</a>
                </td>
            </tr>
            {%endfor%}
        </table>
    </div>
    <br>


    <h2>Staff Requests</h2>
    <div class="container">
        <table>
            <tr class="trek-header">
                <th>Username</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
            {%for s in not_approved_staff%}
            <tr class="trek-row">
                <td>{{s.username}}</td>
                <td>{{s.email}}</td>
                <td>
                    <a href="/approve_staff/{{s.user_id}}">Approve</a> |
                    <!-- <a href="/reject_staff/{{ s.user_id }}">Reject</a> | -->
                    <a href="/blacklist/{{ s.user_id }}">Add to Blacklist</a>
                </td>
            </tr>
            {%endfor%}
        </table>
    </div>



    <div class="container">
        <h2>Blacklist</h2>
        <div class="container">
            <table>
                <tr class="trek-header">
                    <th>Username</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
                {%for s in blacklisted_staff%}
                <tr class="trek-row">
                    <td>{{s.username}}</td>
                    <td>{{s.email}}</td>
                    <td>
                        <a href="/remove_staff_blacklist/{{s.user_id}}">Remove from blacklist</a>
                    </td>
                </tr>
                {%endfor%}
            </table>
        </div>





        {%elif section=='users'%}
        <h1 style="display: block; text-align: center;">Users</h1>

        <h3>All Users</h3>
        <div class="container">
            <table>
                <tr class="trek-header">
                    <th>Username</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
                {%for u in data%}
                <tr class="trek-row">
                    <td>{{u.username}}</td>
                    <td>{{u.email}}</td>
                    <td><a href="/blacklist/{{u.user_id}}">Add to Blacklist</a></td>
                </tr>
                {%endfor%}
            </table>
        </div>

        <h3>Blacklisted Users</h3>
        <div class="container">
            <table>
                <tr class="trek-header">
                    <th>Username</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
                {%for u in blacklisted_users%}
                <tr class="trek-row">
                    <td>{{u.username}}</td>
                    <td>{{u.email}}</td>
                    <td><a href="/remove_user_blacklist/{{u.user_id}}">Remove from Blacklist</a></td>
                </tr>
                {%endfor%}
            </table>
        </div>









        {% elif section == 'bookings' %}
        <div class="container">
            <h2>All Bookings</h2>

            <table>
                <tr class="trek-header">
                    <th>User</th>
                    <th>Trek</th>
                    <th>Status</th>
                    <th>Date</th>
                </tr>

                {% for b in data %}
                <tr class="trek-row">
                    <td>{{ b.user.username }}</td>
                    <td>{{ b.trek.name }}</td>
                    <td>{{ b.booking_status }}</td>
                    <td>{{ b.booking_date }}</td>
                </tr>
                {% endfor %}
            </table>

            {% endif %}

        </div>















        {%endblock%}