{%extends "base.html"%}

{%block title%}Login-Admin{%endblock%}

{%block content%}
<h1 style="display: block; text-align: center;">Welcome to <i>TREKKERS</i></h1>

<div class="input-form">
    <h3>Please enter credentials :</h3>
    <form method="post">
        <table class="center">
            <tr>
            <tr>
                <td><label for="email">Email Id</label></td>
                <td><input required type="email" name="email" id="email" placeholder="Email"></td>
            </tr>

            <tr>
                <td><label for="password">Password</label></td>
                <td><input required type="password" name="password" id="password" placeholder="Password"></td>
            </tr>
            <br>
            <tr>
                <td colspan="2" style="text-align: center;">
                    <button class="button btn-update" type="submit"><b>Login</b></button>
                </td>
            </tr>
        </table><br>
    </form>
</div>

{%endblock%}



