{%extends "base.html"%}

{%block title%}Login-Trekkers{%endblock%}
{%block content%}
<h1 style="display: block; text-align: center;">Welcome to <i>TREKKERS</i></h1>

<div class="input-form">
    <form method="post">
        <h3>Login here :</h3>
        <table class="center">
            <tr>
                <td><label for="role">Role</label></td>
                <td><select name="role">
                        <option value="user">User</option>
                        <option value="staff">Staff</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="email">Email Id</label></td>
                <td><input required type="email" name="email" id="email" placeholder="Email"></td>
            </tr>

            <tr>
                <td><label for="password">Password</label></td>
                <td><input required type="password" name="password" id="password" placeholder="Password"></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;">
                    <button class="button btn-update" type="submit"><b>Login</b></button>
                </td>
            </tr>
            <tr>
                <td>{%if msg%}
                    <p
                        style="color:red; font-weight: 500; font-size: larger; font-style: italic;">
                        {{msg}}</p>
                    {%endif%}
                </td>
            </tr>
            <br>

        </table>
        <span>Not have an account?</span><a href="{{url_for('signup')}}">Signup</a><br><br>
    </form>
</div>

{%endblock%}