<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <title>Register-Trekkers</title>
</head>

<body>
    <div class="container">
        <div class="center">
            <h1>Welcome to Trekkers</h1>
        </div>
        <div class="input-form">
            <form method="post" action="{{url_for('signup')}}">
                <h3>Register New User</h3>
                <table class="center">
                    <tr>
                        <td><span>Registering as </span><select name="role" id="role">
                                <option value="user">User</option>
                                <option value="staff">Staff</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="name">Full Name</label></td>
                        <td><input type="text" name="username" id="username"></td>
                    </tr>

                    <tr>
                        <td><label for="email">Email Id</label></td>
                        <td><input type="email" name="email" id="email"></td>
                    </tr>

                    <tr>
                        <td><label for="password">Password</label></td>
                        <td><input type="password" name="password" id="password"></td>
                    </tr>
                    <br>
                    <tr>
                        <td><input type="submit" value="Signup"></td>
                    </tr>
                    <br>

                </table>
                <a href="{{url_for('login')}}">Already a user?</a>
            </form>
        </div>
    </div>
</body>

</html>