{%extends "base.html"%}
{%block title%}Signup-Trekkers{%endblock%}
{%block content%}

<h1 style="display: block; text-align: center;">Welcome to <i>TREKKERS</i></h1>
<div class="input-form">
    <form method="post" action="{{url_for('signup')}}">
        <h3>Register New User :</h3>
        <table class="center">
            <tr>
                <td><span>Registering as </span></td>
                <td><select name="role">
                        <option value="user">User</option>
                        <option value="staff">Staff</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="gender">Gender</label></td>
                <td><select name="gender">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select></td>
            </tr>
            <tr>
                <td><label for="name">Full Name</label></td>
                <td><input required type="text" name="username" id="username" placeholder="Username"></td>
            </tr>
            <tr>
                <td><label for="age">Age</label></td>
                <td><input type="number" name="age" placeholder="Age"></td>
            </tr>

            <tr>
                <td><label for="email">Email Id</label></td>
                <td><input required type="email" name="email" id="email" placeholder="Email"></td>
            </tr>

            <tr>
                <td><label for="password">Password</label></td>
                <td><input required type="password" name="password" id="password" placeholder="Password"></td>
            </tr>
            <br>
            <tr>
                <td colspan="2" style="text-align: center;">
                    <button class="button btn-approve" type="submit"><b>Signup</b></button>
                </td>
            </tr>
            <br>

        </table>
        <span>Already an user?</span><a href="{{url_for('login')}}">Login</a><br><br>
    </form>
</div>

{%endblock%}