{%extends "base.html"%}

{%block title%}Dashboard-Staff{%endblock%}
{%block content%}




<div class="navbar">
    <a class="nav-btn" href="{{ url_for('staff_dashboard', section='dashboard') }}">Dashboard</a>
    <a class="nav-btn" href="{{ url_for('staff_dashboard', section='treks') }}">Treks</a>
    <a class="nav-btn" href="{{ url_for('staff_dashboard', section='settings') }}">Settings</a>
    <a class="logout" href="{{ url_for('logout') }}">Logout</a>
</div>





{% if section == 'dashboard' %}
<h1 style="display: block; text-align: center;">Welcome Staff</h1>
<h2 style="font-family: sans-serif;">Dashboard</h2>
<h2>Your Treks</h2>
<div class="open-container">
    <table style="width: 97%;">
        <tr class="trek-header-5">
            <th>Trek Name</th>
            <th>Location</th>
            <th>Duration</th>
            <th>Status</th>
        </tr>
        {%for d in data%}
        <tr class="trek-row-5">
            <td>{{d.name}}</td>
            <td>{{d.location}}</td>
            <td>{{d.duration}}</td>
            <td>{{d.status}}</td>
        </tr>{%endfor%}
    </table>


</div>




{% elif section == 'treks' %}
<h2 style="font-family: sans-serif;">Treks</h2>
<div>
    {% for t in data %}
    <table class="open-container">
        <tr class="trek-header-7">
            <th>Name</th>
            <th>Location</th>
            <th>Total users</th>
            <th>Total Slots</th>
            <th>Update Slots</th>
            <th>Available Slots</th>
            <th>Update Status</th>
        </tr>


        <tr class="trek-row-7">
            <td>{{ t.name }}</td>
            <td>{{ t.location }}</td>
            <td>{{ t.bookings | length }}</td>
            <td>{{ t.slots }}</td>
            <td>
                <form method="POST" action="/update_slots_staff/{{ t.trek_id }}">
                    <input type="number" name="slots" value="{{ t.slots }}" min="1">
                    <button class="button btn-update" type="submit">Update</button>
                </form>
            </td>
            <td>
                {{ t.slots - (t.bookings | selectattr('booking_status','equalto','approved') | list | length) }}
            </td>

            <td>
                <span>Update Status</span>
                <form method="post" action="{{ url_for('update_status', id=t.trek_id) }}">
                    <select name="status">
                        <option value="open" {% if t.status=='open' %}selected{% endif %}>Open</option>
                        <option value="closed" {% if t.status=='closed' %}selected{% endif %}>Closed</option>
                        <option value="ongoing" {% if t.status=='ongoing' %}selected{% endif %}>Ongoing</option>
                        <option value="completed" {% if t.status=='completed' %}selected{% endif %}>Completed</option>
                    </select>
                    <button class="button btn-update" type="submit">Update</button>
                </form>
            </td>

        </tr>
        <tr>
            <td colspan="7">
                <b>Participants:</b>
                <ul>
                    {% for b in t.bookings %}
                    <li>
                        {{ b.user.username }} ({{ b.user.email }}) - {{ b.booking_status }}

                        {% if b.booking_status == 'pending' %}
                        <form method="post" action="{{ url_for('update_booking_status', id=b.booking_id) }}"
                            style="display:inline;">
                            <button class="button btn-approve" name="status" value="approved">Approve</button>
                            <button class="button btn-danger" name="status" value="cancelled">Decline</button>
                        </form>
                        {% endif %}
                    </li>
                    {% else %}
                    <li>No users yet</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>

    </table>{%endfor%}
</div>






{% elif section == 'settings' %}

<div style="max-width: 600px; margin: auto;">

    <h2 class="center">Profile Settings</h2>

    <div class="container">
        <h2>Account Info</h2>
        <p><strong>Current Username:</strong> {{ user.username }}</p>
        <p><strong>Current Email:</strong> {{ user.email }}</p>
    </div>

    <div>
        <h4>Change Username</h4>
        <form method="POST">
            <input type="text" name="username" value="{{ user.username }}" required
                style="width:100%; padding:8px; margin-bottom:10px;">
            <button class="button btn-approve" name="update_username">Update Username</button>
        </form>
    </div>


    <div>
        <h4>Change Email</h4>
        <form method="POST">
            <input type="email" name="email" value="{{ user.email }}" required
                style="width:100%; padding:8px; margin-bottom:10px;">
            <button class="button btn-approve" name="update_email">Update Email</button>
        </form>
    </div>



    <div>
        <h4>Change Password</h4>
        <form method="POST">
            <input type="password" name="password" placeholder="New Password" required
                style="width:100%; padding:8px; margin-bottom:10px;">
            <button class="button btn-approve" name="update_password">Update Password</button>
        </form>
    </div>

</div>






{%endif%}

{%endblock%}